.login{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.login p{
    margin: 0px 0px 10px 0px;
    padding-top: 10px;
}

.botonenviar{
    background-color: var(--Celeste);
    color: white;
    border-radius: 5px;
    border: none;    
}

.botonenviar:hover {
    background-color: var(--azul);
    color: white;
}
